<nav class="navbar navbar-light bg-dark px-3">
  <a class="navbar-brand" href="#">Navbar</a>
  <div class="d-flex">
      <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="white" class="bi bi-person-fill my-auto" viewBox="0 0 16 16">
      <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
      {{#if user}}
      <div class="d-flex flex-column mx-2">
        <p class="m-0 text-white" style="font-size: 15px">{{user.username}}</p>
        <p class="m-0 text-white" style="font-size: 12px">{{user.email}} </p>
        <p class="m-0 text-white" style="font-size: 12px">role:{{user.role}} </p>
      </div>
      <div class="d-flex align-content-around flex-column h-100 ">
        <button class="btn btn-warning w-50 p-0 mb-2 mx-auto"><a href="/carts/{{user.cart}}" class="text-decoration-none text-dark "><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
          <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
          </svg></a>
        </button>
       <button class="btn btn-warning px-2 py-0 my-auto"><a href="/api/session/logout" class=" text-decoration-none text-dark ">Log out</a></button>
      </div>
        {{!-- <button class="btn btn-warning h-25 my-auto text-center"><a href="/api/session/logout" class="text-decoration-none text-dark">Log out</a></button>
        <button class="btn btn-warning h-25 my-auto"><a href="/carts/{{user.cart}}" class="text-decoration-none text-dark">cart</a></button>
      </div> --}}
      {{else}}
      <div>
      <button class="btn btn-warning mx-2"><a href="/api/session/login" class="text-decoration-none text-dark">Log In</a></button>
      </div>
      {{/if}}
  </div>
</nav>

<div class="d-flex justify-content-center align-items-center flex-column">
    <h1 class="m-5">{{title}}</h1>
    
    <div class="w-100 px-4 mb-5">
        {{#if payload.length}}
        <table class="table table-striped table-dark">
          <thead class="text-center">
            <tr>
              <th scope="col">#ID</th>
              <th scope="col">nombre</th>
              <th scope="col">codigo</th>
              <th scope="col">precio</th>
              <th scope="col">categoria</th>
              <th scope="col">descripcion</th>
              <th scope="col">stock</th>
              <th scope="col">imagenes</th>
              <th scope="col"></thscope></th>
            </tr>
          </thead>
          <tbody class="text-center">
            {{#each payload}}
            <tr>
              <th scope="row">{{this._id}}</th>
              <td>{{this.title}}</td>
              <td>{{this.code}}</td>
              <td>{{this.price}}</td>
              <td>{{this.category}}</td>
              <td>{{this.description}}</td>
              <td>{{this.stock}}</td>
              <td>{{this.thumbnail}}</td>
              
              {{#if ../user}}
              
              <td>
                <input  class="w-50"type="number" class="form-control" id="quantity{{this._id}}" value="1" min="1">
                <button class="btn btn-warning p-1" onclick="addToCart('{{../user.cart}}', '{{this._id}}')">
                  <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-cart-plus" viewBox="0 0 16 16">
                    <path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z"/>
                    <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                  </svg>
                </button>
              </td>
              {{/if}}
              
            </tr>
            {{/each}}
          </tbody>
        </table>
        <div class="d-flex align-items-center justify-content-center">
          {{#if hasPrevPage}}
          <a href="{{prevLink}}"><button class="btn btn-warning rounded-0">anterior</button></a>
          {{/if}}

          {{#if hasNextPage}}
          <a href="{{nextLink}}"><button class="btn btn-warning rounded-0">siguiente</button></a>
          {{/if}}
        </div>
        {{else}}
        <h3>No hayproductos para mostrar!</h3>
        {{/if}}
    </div>
</div>

<script src="/static/js/addToCart.js"></script>